<nav class="navbar bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('app_index') }}">
      <img src="{{asset('build/img/picture/donkey-series-logo.png')}}" alt="Logo" width="60" height="60" class="d-inline-block align-text-center">
      Donkey Series
    </a>
  </div>
</nav>

