{% extends 'base.html.twig' %}

{% block title %}{{page_title}} - Donkey Series{% endblock %}

{% block body %}


<div class="container-fluid">
    <h1>Bienvenue !</h1>
    <a href="{{path('app_category_shows')}}">Liste des Catetegories</a>
    <a href="{{path('app_program_shows')}}">Liste des Series</a>

    
</div>
{% endblock %}
