{% extends 'base.html.twig' %}

{% block title %}{{page_title}} Donkey Series{% endblock %}

{% block body %}


<div class="container-fluid">
    <h1>{{page_title}}</h1>

   
</div>
{% endblock %}
curl -I -X POST "http://localhost:8000/program/4"